/*
 * Copyright 2019
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

.App {
    text-align: left;
}

/* .Test { */
/*     position: 'absolute'; */
/*     left: '50%';   */
/*     transform: 'translate(-50%, 0%)'; */
/* } */

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 1.2rem;
    color: #eee;    
}

/* .App-link { */
/*     color: #61dafb; */
/*     color: #3e1ebf; */
/* } */

.App a:link {
    color:#18b26f;
    text-decoration: none;
    /* color: #028ec6; */
    /* color:#68d3ff; */
}

.App a:visited {
    /*color:#3e84f2;*/
    color:#18b26f; 
    /* color: #028ec6; */
    /* color:#00b6ff; */
    /* color:#68d3ff; */
}

.App a:hover {
    color:#0de587;
    /* color:#00b6ff; */
    /* color:#68d3ff; */
    /* color: #028ec6; */
}


.Discipline {
    font-size: calc(9px + 0.8vmin);
}

.DisciplineList {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    max-width: 800px;
}

.DisciplineDetails {
    /* background-color: #222; */
    font-size: calc(9px + 0.8vmin);
    color: #AAA;
    /* line-height: 0.5em; */
    /* font-size: calc(8px + 0.4vmin); */
}

.PassageImageDiv {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.PassageImage {
    max-width: 80%;
}

