/*
 * Copyright 2019
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

.Book {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    max-width: 800px;   
    /* font-family: Roboto;  */
    /* font-family: Escrow;  */
    font-family: Verdana;
    /* font-family: Trebuchet; */
    /* font-family: Comic; */
    /* font-family: Arial; */
    /* font-family: Georgia;  */
    /* font-family: Maison Neue Regular; */
    /* font-family: Maison, sans-serif;  */
    font-weight: 300;
    line-height: 1.5em;
    font-size: calc(8px + 0.9vmin);
    color: #eee;
}

.Book-title {
    font-size: calc(8px + 1.2vmin);
}

.Book-topbar {
    max-width: 800px;    
    text-align: right;
    margin-top: 1.5%;
}

.Book-topbar-l {
    text-align: left
}

.Book-topbar-c {
    text-align: center
}

.Book-topbar-r {
    text-align: right
}

/* .Book a:link { */
/*     /\* color:#18b26f; *\/ */
/*     /\* color:#3e84f2;  *\/ */
/*     text-decoration: none; */
/* } */

/* .Book a:visited { */
/*     /\* color:#3e84f2; *\/ */
/*     /\* color:#18b26f; *\/ */
/* } */

/* .Book a:hover { */
/*     color:#0de587 */
/* } */

.Book-dead {
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: #bc0536;
}

.Book-randomtable {
    color: #AAA;
}

.Book-fight {
    border-style: solid;
    border-width: 1px;
    border-color: #AAA;
    padding-left: 15px;
    margin-left: 5%;
    border-radius: 10px;
    margin: auto; /* center the box*/
    max-width: 550px;
}

.Book-fight-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Book-fight-help {
    color: #AAA;
    line-height: 0.5em;
    font-size: calc(8px + 0.4vmin);
}

.Book-help {
    color: #AAA;
    /* line-height: 0.5em; */
    font-size: calc(8px + 0.8vmin);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: block; /* for space */
}

.Book-help-hl {
    font-weight: bold;
}

.Book-item-picker {
    border-style: solid;
    border-width: 1px;
    border-color: #AAA;
    padding-left: 15px;
    margin-left: 5%;
    border-radius: 10px;
    margin: auto; /* center the box*/
    max-width: 640px;
}

.Book-endurance-encounter {
    animation-duration: 3s;
    animation-name: slidein2;
}

.Book-endurance-char {
    animation-duration: 3s;
    animation-name: slidein2;
}

.Book-endurance-char-bonus {
    //color:#0de587;
    //color:#508ff4;
    color:#71a3f2;
}

@keyframes slidein1 {
    from {
        //color:#0de587;
        //color:#4286f4;
        color:#71a3f2;
    }

    to {
        color:#eee
    }
}

@keyframes slidein2 {
    from {
        color:#f33
    }

    to {
        color:#eee
    }
}

.Book-character-HE-editor {   
    border-style: solid;
    border-width: 1px;
    border-color: #AAA;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    border-radius: 10px;
    margin: auto; /* center the box*/
}

.Book-character-editor {  
    max-width: 740px;
    font-family: Verdana;
    font-weight: 300;
    line-height: 1.5em;
    font-size: calc(8px + 0.9vmin);

}

.Book-itemlist {
    max-width: 240px;
}

.Book-character {
    max-width: 740px;
    font-size: calc(8px + 0.9vmin);
}


.Notes {
    /* border-style: solid; */
    /* border-radius: 25px; */
    /* border-width: 2px; */
    max-width: 780px;
    /* border-color: #18b26f; */
    /* line-height: 1.5em; */
    font-size: calc(7px + 0.8vmin);
}
